.page-listing {
    font-size: 20px;
}

.page-listing li {
    list-style-type: none;
}

.nav {
    border-top: 1px solid #eee;
    padding-top: 9px;
    margin: 20px 0 40px;
}

body {
    font-size: 16px;
}
